
.dog-image-container {
  margin: 2rem;
}

.photo {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  vertical-align: middle;

}

img {
  justify-self: center;
  vertical-align: middle;
  width: 12rem;
  height: auto;
}